<!-- Banner -->
<div class="min-w-[320px] w-full h-[700px] px-[6%] md:px-0 pt-12 bg-banner-mobile-hero-le bg-center bg-no-repeat bg-cover object-cover">
  <div class="max-w-2xl mx-auto xl:max-w-5xl">
    <header>
      <div class="flex items-center justify-between">
        <figure>
          <img src="../../../../assets/loopstudios/images/logo.svg" alt="logo" class="w-36">
        </figure>
        <div>
          <div class="xl:hidden">
            <svg width="24" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M0 0h24v2H0zM0 7h24v2H0zM0 14h24v2H0z"/></g></svg>
          </div>
          <nav class="hidden xl:block">
            <ul>
              <li>
                <a href="">Abouts</a>
              </li>
              <li>
                <a href="">Careers</a>
              </li>
              <li>
                <a href="">Events</a>
              </li>
              <li>
                <a href="">Products</a>
              </li>
              <li>
                <a href="">Support</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <section class="mt-44 flex justify-center xl:justify-start">
      <ul class="w-full max-w-md p-7 border border-white text-white text-3xl uppercase">
        <li>immersive</li>
        <li>experiencies</li>
        <ul class="flex flex-col xl:flex-row xl:gap-x-3">
          <li>that</li>
          <li>deliver</li>
        </ul>
      </ul>
    </section>
  </div>
</div>

<!-- content -->
<div></div>
