<div class="text-base font-karla">
  <main>

    <!-- Introduction -->
    <section>
      <figure class="sm:hidden">
        <img class="w-full h-auto" src="./assets/insure/images/image-intro-mobile.jpg" alt="family">
      </figure>
      <div class="relative pt-20 pb-24 px-6 bg-dark-violet-ensure">
        <div class="relative max-w-3xl mx-auto xl:max-w-5xl">
          <div class="flex flex-col items-center text-center text-very-light-gray-ensure font-DMserifDisplay max-w-xs mx-auto gap-y-4 sm:items-start sm:text-left sm:mx-0">
            <hr class="hidden w-28 sm:block "/>
            <h2 class="text-3xl">Humanizing your insurance.</h2>
            <p class="font-karla">Get your life insurance coverage easier and faster. We blend our expertirse and technology to help you find the plan that's right fot you. Ensure you and find loved ones are protected.</p>
            <a href="" class="w-32 border-2 py-2 uppercase text-center font-karla" >view plans</a>
          </div>
          <img class="hidden absolute top-0 right-0 sm:block " src="./assets/insure/images/image-intro-mobile.jpg" alt="family">
        </div>
        <img class="absolute left-0 top-0" src="./assets/insure/images/bg-pattern-intro-left-mobile.svg" alt="intro left">
        <img class="absolute right-0 -bottom-[39%]" src="./assets/insure/images/bg-pattern-intro-right-mobile.svg" alt="intro right">
      </div>
    </section>



  </main>
</div>
